
@{
    ViewData["Title"] = "Moon";
}

<h2>Moon</h2>

<p>@ViewData["Message"]</p>
<img src="https://www.universetoday.com/wp-content/uploads/2015/08/Full-Moon-fire-haze-Aug-29_2015-B_S.jpg" alt="Fire Red Moon" title="Fire Red Moon" width="80%"/>